
<%= image_tag("reftrkr.png", :alt => "rss feed") %>
    <table>
      <thead>
        <style>
          table, th, td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
          }
        </style>
        <th>Email</th>
        <th>Counter</th>
        <th colspan="3">User Id</th>
      </thead>
      <tbody>
        <% @user.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.counter %></td>
          <td><%= user.id %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
    </html>
