<<<<<<< HEAD

<h1>Welcome!</h1>

<img src="patrick-tomasso-g6hIve4oc04-unsplash.jpg" class="img-fluid" alt="Welcome Image" style="max-width: 100%; height: auto">

<p>
  <Strong>Please enter your email!</Strong>
</p>
=======
>>>>>>> 09206d15a5bfaf49fbbeeeb930491cb02ac263c7


<%= image_tag("home.png", :alt => "rss feed") %>
<div class="form">
<%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
  <%= form.text_field :email, :placeholder => "Enter Email", "size" => 20%>
  <%= form.submit %>
<<<<<<< HEAD
<% end %>
=======
<% end %>
</div>

</div>
>>>>>>> 09206d15a5bfaf49fbbeeeb930491cb02ac263c7
