<div class="center col-xs-12 col-sm-6 col-sm-offset-4">
  <h1>Sign Up!</h1>
</div>

<%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
  <%= form.text_field :email, :placeholder => "Enter Email" %>
  <%= form.submit %>
<% end %>