<h1>Sign Up!</h1>

<p>
  <Strong>Please enter your email!</Strong>
</p>
<%= form_with(model: @user, local: true, url: "/newsletter/sign_up/#{@id}") do |form| %>
  <%= form.text_field :email, :placeholder => "Enter Email" %>
  <%= form.submit %>
<% end %>