<%= image_tag("successhome.png", :alt => "rss feed") %>




<p><%= "http://localhost:3000/newsletter/sign_up/#{params[:id]}" %></p>

<div class="progress">
  <div class="bar" style="width: 60%;"></div>
</div>
