<%= image_tag("successhome.png", :alt => "rss feed") %>

<SPAN ID="copytext" STYLE="height:150;width:162;background-color:pink">
<%= "http://localhost:3000/newsletter/sign_up/#{params[:id]}" %>
</SPAN>

<TEXTAREA ID="holdtext" STYLE="display:none;">
</TEXTAREA>
<BUTTON onClick="ClipBoard();">Copy to Clipboard</BUTTON>


<p><%= "http://localhost:3000/newsletter/sign_up/#{params[:id]}" %></p>

<div class="progress">
  <div class="bar" style="width: 60%;"></div>
</div>
